.App {
  text-align: center;
  margin: 20px;
}

.link {
  padding: 5px;
  margin: 15px;
  text-decoration: none;
  border: solid black .5px;
  background-color: rgba(255, 255, 255, 0.909);
  color: black;
  border-radius: 5px;
}

.plantList-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#my-plants {
  color: white;
}
.list-container {
  width: 60%;
}

.plant-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.plant-item-img {
  width: 40vh;
  margin-right: 30px;
}

button {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  border: solid black 1px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.home-container {
  width: 40%;
  background-color: white;
  margin-top: 8%;
  margin-left: 30%;
  padding: 5px;
  border: solid black 2px;
  border-radius: 5px;
}

footer {
  color: white;
}

.add {
  color: white;
}

#add-plant-item {
  width: 20%;
  border: solid white 1px;
  margin-left: 40%;
  border-radius: 5px;
}

.info-edit {
  background-color: white;
  width: 40%;
  border: solid black 2px;
  border-radius: 5px;
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 10px;
}

.password-edit {
  background-color: white;
  width: 40%;
  border: solid black 2px;
  border-radius: 5px;
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 10px;
}

.login-form {
  background-color: white;
  width: 40%;
  border: solid black 2px;
  border-radius: 5px;
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 10px;
}

.signup-form {
  background-color: white;
  width: 40%;
  border: solid black 2px;
  border-radius: 5px;
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 10px;
}

.form-spacing {
  margin-bottom: 5px;
}

.errors-container {
  color: red;
  margin-bottom: 10px;
}

#login {
  color: green;
  text-decoration: underline;
}